@lost flexbox flex;

/* body {   lost-utility: edit; }  */

#head_section {
    lost-flex-container: row;

    & #battle_header { lost-column: 3/4 }
    & #auth_section  { lost-column: 1/4 }
}

#main_section {
    lost-flex-container: row;

    & #battlemap { lost-column: 3/4 }
    & #rightcolumn  { lost-column: 1/4 }
}


